<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CFB101</title>
    <style type="test/css">
        .pagination {text-align: center;}
    </style>
</head>
<body>
<div>主頁內容待討論</div>
<iframe width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNzU3YjAzNDctMzU4OS00MWUyLThkN2MtOThkNjRlNTE5ODEyIiwidCI6Ijc4ZTE0YmExLWQ4OWItNGVkNy04NTMxLWE4NDg2OTIxNmE5NCJ9" frameborder="0" allowFullScreen="true"></iframe>{% extends "bootstrap/base.html" %}
{% block CFB101 %}This is an example page{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
    {%include 'navbar.html' %}
</div>
{% endblock %}
</body>
