<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CFB101</title>
    <style type="test/css">
        .pagination {text-align: center;}
    </style>
</head>
<body>
<div>主頁內容待討論</div>
<iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=8defadc4-a324-489c-8a78-46fc935b9459&autoAuth=true&ctid=d82fe305-5e8e-4a04-8231-1a95eaa646fd&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWVhc3QyLWItcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
{% extends "bootstrap/base.html" %}
{% block CFB101 %}This is an example page{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
    {%include 'navbar.html' %}
</div>
{% endblock %}
</body>
